@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jost", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(cool-sun.webp);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

.todo-app {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(0,0,0,0.25);
    border: 3px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
}

.todo-app h1 {
    font-size: 2rem;
}


.input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-area input {
    flex: 1;
    padding: 10px 17px;
    font-size: 1.1rem;
    border-radius: 22px;
    outline: none;
    border: none;
    background-color: rgba(255, 195, 205, 0.3);
}

.input-area input::placeholder {
    color: gray;
}

.input-area button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 8px;
    border-radius: 60%;
    /* color: white; */
    font-size: 1.1rem;
    background: rgba(65, 54, 56, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
    transition: all 0.2s ease;
}

.input-area button:hover {
    transform: scale(1.1);
    background-color: red;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#task-list {
    width: 100%;
}

.empty-image {
    width: 140px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 18px auto 0;
    object-fit: contain;
}